.accountsPageContainer{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-content: space-around;
    height: 100vh;
    min-height: 100vh;
    background-color: #12002b;

      &__topSection{
        margin-top: 2rem;
        margin-bottom: 1rem;
        
        &--title{
          color:white;
          font-size: 2rem;
        }
        &--button{
          background-color: #00bc77;
          color: #fff;
          padding:0.5rem;
          font-size: 1.1rem;
          font-weight: bold;
          border-color: #00bc77;
          cursor: pointer;
          transition: color 0.2s ease-in-out;
          &:hover{
              border-color: #12002b;
          }
        }
      }

      &__userComponent{
        color:#fff;
      }

      &__mainSection{
        background-color: #12002b;
        margin-top: 2rem;
        display: flex;
        flex-direction: column;
        flex:1;
      }
  }