.errorPageContainer{
    display: flex;
    flex-direction: column;
    // justify-content: flex-start;
    height: 100vh;
    min-height: 100vh;

    &__content{
        flex:1;
        margin-top: 5rem;
        &--button{
            background-color: #00bc77;
            color: #fff;
            padding:0.5rem;
            font-size: 1.1rem;
            font-weight: bold;
            border-color: #00bc77;
            width: 15%;
            margin: auto;
            cursor: pointer;
            transition: color 0.2s ease-in-out;
            &:hover{
                border: 0.2rem solid #fff;
            }
        }
    }
}