*{
  font-family: Arial;
}

.loginPageContainer {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  height: 100vh;
  min-height: 100vh;
  background-color: #12002b;
}

.sign-in-content {
  box-sizing: border-box;
  background-color: white;
  width: 300px;
  margin: auto auto;
  margin-top: 3rem;
  padding: 2rem;
}

.inputField {
  display: flex;
  flex-direction: column;
  text-align: left;
}

.inputField label {
  margin-bottom: 0.5rem;
  font-weight: bold;
}

.loginInputField--input {
  padding: 5px;
  font-size: 1.2rem;
  border: 1px solid #A4A4A4; 
  margin-bottom: 1rem;
}

.input-remember {
  display: flex;
  margin-bottom: 1rem;
}
.loginLabel{
  margin-left: 0.25rem;
  color: #12002b;
  font-weight: bold;
}

.error-message {
  color: red;
  font-size: 1rem;
  margin-top: 1rem;
}

.signInPageButton{
  outline: none;
  background: none;
  border: none;
  padding: 0;
  margin: 0;
  cursor: pointer;
  font: inherit;
  display: block;
  width: 100%;
  padding: 8px;
  font-size: 1.1rem;
  font-weight: bold;
  margin-top: 1rem;
  border-color: #00bc77;
  background-color: #00bc77;
  color: #fff;
  text-decoration: underline;
  cursor: pointer;
}
