// .loginPageContainer{
//   display: flex;
//   flex-direction: column;
//   justify-content: space-between;
//   height: 100vh;
//   min-height: 100vh;
//   background-color: #12002b;
// }

// .mainLogInSection {
//     background-color: #12002b;
//   }

//   .sign-in-content {
//     box-sizing: border-box;
//     background-color: white;
//     width: 300px;
//     margin: auto auto;
//     margin-top: 3rem;
//     padding: 2rem;
//   }
// .inputField{
//     display: flex;
//     flex-direction: column;
//     text-align: left;
//     margin-bottom: 1rem;
// }

// .inputField label{
//     margin-bottom: 0.5rem;
//     font-weight: bold;
// }

// .inputField input{
//     padding: 5px;
//     font-size: 1.2rem;
// }

// .input-remember {
//     display: flex;
//   }
  
// .input-remember label {
//     margin-left: 0.25rem;
//   }

.loginPageContainer {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  height: 100vh;
  min-height: 100vh;
  background-color: #12002b;
}

.sign-in-content {
  box-sizing: border-box;
  background-color: white;
  width: 300px;
  margin: auto auto;
  margin-top: 3rem;
  padding: 2rem;
}

.inputField {
  display: flex;
  flex-direction: column;
  text-align: left;
  
  
  
}

.inputField label {
  margin-bottom: 0.5rem;
  font-weight: bold;
}

.loginInputField--input {
  padding: 5px;
  font-size: 1.2rem;
  border: 1px solid #ccc; 
  border-radius: 5px; 
  margin-bottom: 1rem;
}

.input-remember {
  display: flex;
  margin-bottom: 1rem;
}
.loginLabel{
  margin-left: 0.25rem;
  color: #12002b;
  font-weight: bold;
}

.error-message {
  color: red;
  font-size: 1rem;
  margin-top: 1rem;
  
}