*{
  font-family: Arial;
}

@keyframes spin {
    0% {
      transform: rotate(0deg);
    }
    100% {
      transform: rotate(360deg);
    }
  }

  @keyframes blink {
    0% {
      opacity: 1;
    }
    50% {
      opacity: 0.2; 
    }
    100% {
      opacity: 1; 
    }
  }

.transactionsPageContainer{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    height: 100vh;
    min-height: 100vh;
    background-color: #12002b;
    
   
    &__content{
        
        margin-top: 3rem;
        flex: 4;
    }
    &__transactions{
        width: 80%;
        margin-left: auto;
        margin-right: auto;
        display: flex;
        flex-direction: column;
        overflow: hidden;
       
        &--table{
            margin-left: 2%;
            display: grid;
            grid-template-columns: 12% 12% auto 12% 12% 3%;
            @media (max-width: 920px) {
              grid-template-columns: 20% 35% auto 20% 20%;
            }
            &--title{
                font-size: 1rem;
                text-align: left;
                color:#fff;
                @media (max-width: 920px) {
                  &:nth-child(2) {
                    text-align: center;
                  }
                }    
            }
        };
    }  
}


.transactionsPageContainerLoading {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    height: 100vh;
    min-height: 100vh;
    background-color: #12002b;
  
    &__content {
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;
      height: 100%;
      position: relative;
  
      &--loader {
        border: 6px solid #f3f3f3; 
        border-top: 6px solid #3498db; 
        border-radius: 50%;
        width: 200px;
        height: 200px;
        animation: spin 2s linear infinite; 
        margin: 0 auto; 
      }
  
      &--title {
        color: #fff;
        position: absolute;
        animation: blink 1.5s infinite;

      }
    }
  }
  
  