html {
  font-family: Avenir, Helvetica, Arial, sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  text-align: center;
  color: #2c3e50;
}

body {
  margin: 0;
  display: flex;
  flex-direction: column;
  min-height: 100vh;
}

.sr-only {
  border: 0 !important;
  clip: rect(1px, 1px, 1px, 1px) !important; /* 1 */
  -webkit-clip-path: inset(50%) !important;
  clip-path: inset(50%) !important; /* 2 */
  height: 1px !important;
  margin: -1px !important;
  overflow: hidden !important;
  padding: 0 !important;
  position: absolute !important;
  width: 1px !important;
  white-space: nowrap !important; /* 3 */
}

* {
  font-family: Arial;
}

.account {
  display: flex;
  justify-content: space-between;
  align-items: center;
  border: 1px solid black;
  background-color: #fff;
  width: 80%;
  margin: 0 auto;
  flex-direction: row;
  padding: 1.5rem;
  box-sizing: border-box;
  text-align: left;
  margin-bottom: 2rem;
}
@media (max-width: 720px) {
  .account {
    flex-direction: column;
  }
}
.account__accountContentWrapper {
  width: 100%;
  display: flex;
  flex-direction: column;
  flex: 1;
}
.account__accountContentWrapper--name {
  color: #2c3e50;
  margin: 0;
  padding: 0;
  font-size: 1rem;
  font-weight: normal;
}
.account__accountContentWrapper--balance {
  color: #2c3e50;
  margin: 0;
  font-size: 2.5rem;
  font-weight: bold;
}
.account__accountContentWrapper--availableBalance {
  color: #2c3e50;
  margin: 0;
}
.account__accountContentWrapper--button {
  display: block;
  min-width: 180px;
  width: 30%;
  padding: 8px;
  font-size: 1.1rem;
  font-weight: bold;
  margin-top: 1rem;
  margin-left: auto;
  border-color: #00bc77;
  background-color: #00bc77;
  color: #fff;
  cursor: pointer;
}
.account__accountContentWrapper--button:hover {
  border: 0.2rem solid #fff;
}
@media (max-width: 720px) {
  .account__accountContentWrapper--button {
    width: 100%;
  }
}
.account .hidden {
  display: none;
}

* {
  font-family: Arial;
}

.submitButton {
  outline: none;
  background: none;
  border: none;
  padding: 0;
  margin: 0;
  cursor: pointer;
  font: inherit;
  display: block;
  width: 100%;
  padding: 8px;
  font-size: 1.1rem;
  font-weight: bold;
  margin-top: 1rem;
  border-color: #00bc77;
  background-color: #00bc77;
  color: #fff;
  text-decoration: underline;
  cursor: pointer;
}

.greenButton {
  outline: none;
  background: none;
  border: none;
  padding: 0;
  margin: 0;
  cursor: pointer;
  font: inherit;
  display: block;
  width: 100%;
  padding: 8px;
  font-size: 1.1rem;
  font-weight: bold;
  margin-top: 1rem;
  border-color: #00bc77;
  background-color: #00bc77;
  color: #fff;
  cursor: pointer;
}

* {
  font-family: Arial;
}

.footer {
  display: flex;
  justify-content: center;
  border-top: 2px solid #ccc;
  padding: 2rem 0 1.5rem;
  background-color: white;
}
.footer__text {
  margin: 0;
  padding: 0;
}

* {
  font-family: Arial;
}

.header {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  padding: 5px 20px;
  background-color: white;
}

.sr-only {
  border: 0 !important;
  clip: rect(1px, 1px, 1px, 1px) !important; /* 1 */
  -webkit-clip-path: inset(50%) !important;
  clip-path: inset(50%) !important; /* 2 */
  height: 1px !important;
  margin: -1px !important;
  overflow: hidden !important;
  padding: 0 !important;
  position: absolute !important;
  width: 1px !important;
  white-space: nowrap !important; /* 3 */
}

.logo {
  display: flex;
  align-items: center;
}
.logo__image {
  max-width: 100%;
  width: 200px;
}

* {
  font-family: Arial;
}

.homePageContainer {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  height: 100vh;
  min-height: 100vh;
}

.hero {
  background-image: url("../../public/images/bank-tree.webp");
  background-position: 0 -50px;
  background-size: cover;
  background-repeat: no-repeat;
  height: 300px;
  position: relative;
}
@media (min-width: 920px) {
  .hero {
    height: 400px;
    background-position: 0% 33%;
  }
}
.hero__content {
  position: relative;
  top: 2rem;
  width: 200px;
  background: white;
  padding: 2rem;
  text-align: left;
  margin: 0 auto;
}
@media (min-width: 920px) {
  .hero__content {
    position: absolute;
    top: 50px;
    right: 50px;
    width: 300px;
    margin: 2rem;
  }
}
.hero__content--subtitle {
  font-weight: bold;
  font-size: 1rem;
  margin: 0;
}
@media (min-width: 920px) {
  .hero__content--subtitle {
    font-size: 1.5rem;
  }
}
.hero__content--text {
  margin-bottom: 0;
  font-size: 0.9rem;
}
@media (min-width: 920px) {
  .hero__content--text {
    font-size: 1.2rem;
  }
}

.features {
  display: flex;
  flex-direction: row;
  background-color: white;
}
@media (min-width: 920px) {
  .features .features {
    flex-direction: row;
  }
}
.features__item {
  flex: 1;
  padding: 2.5rem;
}
.features__item--icon {
  width: 100px;
  border: 10px solid #00bc77;
  border-radius: 50%;
  padding: 1rem;
}
.features__item--title {
  color: #222;
  font-size: 1.25rem;
  font-weight: bold;
  margin-bottom: 0.5rem;
}

.sr-only {
  border: 0 !important;
  clip: rect(1px, 1px, 1px, 1px) !important; /* 1 */
  -webkit-clip-path: inset(50%) !important;
  clip-path: inset(50%) !important; /* 2 */
  height: 1px !important;
  margin: -1px !important;
  overflow: hidden !important;
  padding: 0 !important;
  position: absolute !important;
  width: 1px !important;
  white-space: nowrap !important; /* 3 */
}

* {
  font-family: Arial;
}

.loginPageContainer {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  height: 100vh;
  min-height: 100vh;
  background-color: #12002b;
}

.sign-in-content {
  box-sizing: border-box;
  background-color: white;
  width: 300px;
  margin: auto auto;
  margin-top: 3rem;
  padding: 2rem;
}

.inputField {
  display: flex;
  flex-direction: column;
  text-align: left;
}

.inputField label {
  margin-bottom: 0.5rem;
  font-weight: bold;
}

.loginInputField--input {
  padding: 5px;
  font-size: 1.2rem;
  border: 1px solid #A4A4A4;
  margin-bottom: 1rem;
}

.input-remember {
  display: flex;
  margin-bottom: 1rem;
}

.loginLabel {
  margin-left: 0.25rem;
  color: #12002b;
  font-weight: bold;
}

.error-message {
  color: red;
  font-size: 1rem;
  margin-top: 1rem;
}

.signInPageButton {
  outline: none;
  background: none;
  border: none;
  padding: 0;
  margin: 0;
  cursor: pointer;
  font: inherit;
  display: block;
  width: 100%;
  padding: 8px;
  font-size: 1.1rem;
  font-weight: bold;
  margin-top: 1rem;
  border-color: #00bc77;
  background-color: #00bc77;
  color: #fff;
  text-decoration: underline;
  cursor: pointer;
}

@keyframes spin {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}
@keyframes blink {
  0% {
    opacity: 1;
  }
  50% {
    opacity: 0.2;
  }
  100% {
    opacity: 1;
  }
}
* {
  font-family: Arial;
}

.accountsPageContainer {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-content: space-around;
  height: 100vh;
  min-height: 100vh;
  background-color: #12002b;
}
.accountsPageContainer__topSection {
  margin-top: 2rem;
  margin-bottom: 1rem;
}
.accountsPageContainer__topSection--title {
  color: white;
  font-size: 2rem;
}
.accountsPageContainer__topSection--button {
  background-color: #00bc77;
  color: #fff;
  padding: 0.5rem;
  font-size: 1.1rem;
  font-weight: bold;
  border-color: #00bc77;
  cursor: pointer;
  transition: color 0.2s ease-in-out;
}
.accountsPageContainer__topSection--button:hover {
  border-color: #12002b;
}
.accountsPageContainer__userComponent {
  color: #fff;
}
.accountsPageContainer__mainSection {
  background-color: #12002b;
  margin-top: 2rem;
  display: flex;
  flex-direction: column;
  flex: 1;
}

.accountsPageContainerLoading {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  height: 100vh;
  min-height: 100vh;
  background-color: #12002b;
}
.accountsPageContainerLoading__content {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 100%;
  position: relative;
}
.accountsPageContainerLoading__content--loader {
  border: 6px solid #f3f3f3;
  border-top: 6px solid #3498db;
  border-radius: 50%;
  width: 200px;
  height: 200px;
  animation: spin 2s linear infinite;
  margin: 0 auto;
}
.accountsPageContainerLoading__content--title {
  color: #fff;
  position: absolute;
  animation: blink 1.5s infinite;
}

* {
  font-family: Arial;
}

.main-nav-item {
  font-weight: bold;
  color: #2c3e50;
  text-decoration: none;
  margin-right: 5px;
}
.main-nav-item__signInIcon {
  width: 27px;
  font-size: 17px;
}
.main-nav-item:hover {
  text-decoration: underline;
}

.logOutButton {
  outline: none;
  background: none;
  border: none;
  padding: 0;
  margin: 0;
  cursor: pointer;
  font-weight: bold;
}

* {
  font-family: Arial;
}

.userPageContainer {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  height: 100vh;
  min-height: 100vh;
  background-color: white;
}

* {
  font-family: Arial;
}

.editUserForm {
  display: flex;
  flex-direction: column;
  margin: auto;
}
.editUserForm__container {
  display: flex;
  flex-direction: row;
  gap: 0.5rem;
  margin-bottom: 1.5rem;
  justify-content: center;
}
.editUserForm__container--label {
  font-size: 1.5rem;
}
.editUserForm__container--input {
  width: 200px;
  height: 25px;
  padding: 5px;
  font-size: 1rem;
  border: 1px solid #ccc;
  border-radius: 5px;
}
.editUserForm__container--submitButton {
  outline: none;
  background: none;
  border: none;
  padding: 0;
  margin: 0;
  cursor: pointer;
  font: inherit;
  display: block;
  width: 10%;
  padding: 8px;
  font-size: 1.1rem;
  font-weight: bold;
  text-decoration: underline;
  margin-top: 1rem;
  border-color: #00bc77;
  background-color: #00bc77;
  transition: background-color 0.3s ease-in-out;
  color: #fff;
}
.editUserForm__container--submitButton:hover {
  background-color: #00bc77;
  filter: brightness(0.9);
}
.editUserForm__container--cancelButton {
  outline: none;
  background: none;
  border: none;
  padding: 0;
  margin: 0;
  cursor: pointer;
  font: inherit;
  display: block;
  width: 10%;
  padding: 8px;
  font-size: 1.1rem;
  font-weight: bold;
  margin-top: 1rem;
  border-color: #00bc77;
  background-color: #00bc77;
  color: #fff;
}
.editUserForm__container--cancelButton:hover {
  background-color: #00bc77;
  filter: brightness(0.9);
}

.greyedOut {
  background-color: lightgray;
  color: grey;
}

.cancelButton {
  outline: none;
  background: none;
  border: none;
  padding: 0;
  margin: 0;
  cursor: pointer;
  font: inherit;
  display: block;
  width: 100%;
  padding: 8px;
  font-size: 1.1rem;
  font-weight: bold;
  margin-top: 1rem;
  border-color: #00bc77;
  background-color: #00bc77;
  color: #fff;
}

* {
  font-family: Arial;
}

.errorPageContainer {
  display: flex;
  flex-direction: column;
  height: 100vh;
  min-height: 100vh;
}
.errorPageContainer__content {
  flex: 1;
  margin-top: 5rem;
}
.errorPageContainer__content--button {
  background-color: #00bc77;
  color: #fff;
  padding: 0.5rem;
  font-size: 1.1rem;
  font-weight: bold;
  border-color: #00bc77;
  width: 15%;
  margin: auto;
  cursor: pointer;
  transition: color 0.2s ease-in-out;
}
.errorPageContainer__content--button:hover {
  border: 0.2rem solid #fff;
}

* {
  font-family: Arial;
}

.transactionContainer {
  background-color: #00bc77;
  color: #fff;
  width: 100%;
  margin: auto;
  margin-bottom: 1rem;
  border-radius: 5px;
  padding-bottom: 0.2rem;
  padding-top: 0.4rem;
}
.transactionContainer__transactionGeneral {
  margin-left: 2%;
  display: grid;
  grid-template-columns: 12% 12% auto 12% 12% 3%;
}
.transactionContainer__transactionGeneral > * {
  text-align: left;
}
.transactionContainer__transactionGeneral--arrow {
  transition: transform 0.5s ease;
  cursor: pointer;
}
.transactionContainer__transactionGeneral--arrow.open {
  transform: rotate(-180deg);
  transform-origin: center;
}
.transactionContainer__transactionDetails {
  margin-left: 2%;
  display: flex;
  flex-direction: column;
  height: 0px;
  overflow: hidden;
  transition: height 0.5s ease;
}
.transactionContainer__transactionDetails > * {
  text-align: left;
  margin-top: 0.3rem;
  display: grid;
  grid-template-columns: 12% 12% auto;
}
.transactionContainer__transactionDetails--category--content--icon {
  margin-left: 1rem;
  cursor: pointer;
}
.transactionContainer__transactionDetails--category--content--icon:hover {
  transform: scale(1.2);
}
.transactionContainer__transactionDetails--notes--content--icon {
  margin-left: 1rem;
  cursor: pointer;
}
.transactionContainer__transactionDetails--notes--content--icon:hover {
  transform: scale(1.2);
}

* {
  font-family: Arial;
}

@keyframes spin {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}
@keyframes blink {
  0% {
    opacity: 1;
  }
  50% {
    opacity: 0.2;
  }
  100% {
    opacity: 1;
  }
}
.transactionsPageContainer {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  height: 100vh;
  min-height: 100vh;
  background-color: #12002b;
}
.transactionsPageContainer__content {
  margin-top: 3rem;
  flex: 4;
}
.transactionsPageContainer__transactions {
  width: 80%;
  margin-left: auto;
  margin-right: auto;
  display: flex;
  flex-direction: column;
  overflow: hidden;
}
.transactionsPageContainer__transactions--table {
  margin-left: 2%;
  display: grid;
  grid-template-columns: 12% 12% auto 12% 12% 3%;
}
.transactionsPageContainer__transactions--table--title {
  font-size: 1rem;
  text-align: left;
  color: #fff;
}

.transactionsPageContainerLoading {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  height: 100vh;
  min-height: 100vh;
  background-color: #12002b;
}
.transactionsPageContainerLoading__content {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 100%;
  position: relative;
}
.transactionsPageContainerLoading__content--loader {
  border: 6px solid #f3f3f3;
  border-top: 6px solid #3498db;
  border-radius: 50%;
  width: 200px;
  height: 200px;
  animation: spin 2s linear infinite;
  margin: 0 auto;
}
.transactionsPageContainerLoading__content--title {
  color: #fff;
  position: absolute;
  animation: blink 1.5s infinite;
}/*# sourceMappingURL=style.css.map */