html {
  font-family: Avenir, Helvetica, Arial, sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  text-align: center;
  color: #2c3e50;
}

body {
  margin: 0;
  display: flex;
  flex-direction: column;
  min-height: 100vh;
}

.sr-only {
  border: 0 !important;
  clip: rect(1px, 1px, 1px, 1px) !important; /* 1 */
  -webkit-clip-path: inset(50%) !important;
  clip-path: inset(50%) !important; /* 2 */
  height: 1px !important;
  margin: -1px !important;
  overflow: hidden !important;
  padding: 0 !important;
  position: absolute !important;
  width: 1px !important;
  white-space: nowrap !important; /* 3 */
}

.submitButton {
  outline: none;
  background: none;
  border: none;
  padding: 0;
  margin: 0;
  cursor: pointer;
  font: inherit;
  display: block;
  width: 100%;
  padding: 8px;
  font-size: 1.1rem;
  font-weight: bold;
  margin-top: 1rem;
  border-color: #00bc77;
  background-color: #00bc77;
  color: #fff;
  text-decoration: underline;
  cursor: pointer;
}

.greenButton {
  outline: none;
  background: none;
  border: none;
  padding: 0;
  margin: 0;
  cursor: pointer;
  font: inherit;
  display: block;
  width: 100%;
  padding: 8px;
  font-size: 1.1rem;
  font-weight: bold;
  margin-top: 1rem;
  border-color: #00bc77;
  background-color: #00bc77;
  color: #fff;
  cursor: pointer;
}

.footer {
  display: flex;
  justify-content: center;
  border-top: 2px solid #ccc;
  padding: 2rem 0 1.5rem;
  background-color: white;
}
.footer__text {
  margin: 0;
  padding: 0;
}

.header {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  padding: 5px 20px;
  background-color: white;
}

.sr-only {
  border: 0 !important;
  clip: rect(1px, 1px, 1px, 1px) !important; /* 1 */
  -webkit-clip-path: inset(50%) !important;
  clip-path: inset(50%) !important; /* 2 */
  height: 1px !important;
  margin: -1px !important;
  overflow: hidden !important;
  padding: 0 !important;
  position: absolute !important;
  width: 1px !important;
  white-space: nowrap !important; /* 3 */
}

.logo {
  display: flex;
  align-items: center;
}
.logo__image {
  max-width: 100%;
  width: 200px;
}

.homePageContainer {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  height: 100vh;
  min-height: 100vh;
}

.hero {
  background-image: url("../../public/images/bank-tree.webp");
  background-position: 0 -50px;
  background-size: cover;
  background-repeat: no-repeat;
  height: 300px;
  position: relative;
}
@media (min-width: 920px) {
  .hero {
    height: 400px;
    background-position: 0% 33%;
  }
}
.hero__content {
  position: relative;
  top: 2rem;
  width: 200px;
  background: white;
  padding: 2rem;
  text-align: left;
  margin: 0 auto;
}
@media (min-width: 920px) {
  .hero__content {
    position: absolute;
    top: 50px;
    right: 50px;
    width: 300px;
    margin: 2rem;
  }
}
.hero__content--subtitle {
  font-weight: bold;
  font-size: 1rem;
  margin: 0;
}
@media (min-width: 920px) {
  .hero__content--subtitle {
    font-size: 1.5rem;
  }
}
.hero__content--text {
  margin-bottom: 0;
  font-size: 0.9rem;
}
@media (min-width: 920px) {
  .hero__content--text {
    font-size: 1.2rem;
  }
}

.features {
  display: flex;
  flex-direction: row;
  background-color: white;
}
@media (min-width: 920px) {
  .features .features {
    flex-direction: row;
  }
}
.features__item {
  flex: 1;
  padding: 2.5rem;
}
.features__item--icon {
  width: 100px;
  border: 10px solid #00bc77;
  border-radius: 50%;
  padding: 1rem;
}
.features__item--title {
  color: #222;
  font-size: 1.25rem;
  font-weight: bold;
  margin-bottom: 0.5rem;
}

.sr-only {
  border: 0 !important;
  clip: rect(1px, 1px, 1px, 1px) !important; /* 1 */
  -webkit-clip-path: inset(50%) !important;
  clip-path: inset(50%) !important; /* 2 */
  height: 1px !important;
  margin: -1px !important;
  overflow: hidden !important;
  padding: 0 !important;
  position: absolute !important;
  width: 1px !important;
  white-space: nowrap !important; /* 3 */
}

.loginPageContainer {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  height: 100vh;
  min-height: 100vh;
  background-color: #12002b;
}

.sign-in-content {
  box-sizing: border-box;
  background-color: white;
  width: 300px;
  margin: auto auto;
  margin-top: 3rem;
  padding: 2rem;
}

.inputField {
  display: flex;
  flex-direction: column;
  text-align: left;
}

.inputField label {
  margin-bottom: 0.5rem;
  font-weight: bold;
}

.loginInputField--input {
  padding: 5px;
  font-size: 1.2rem;
  border: 1px solid #ccc;
  border-radius: 5px;
  margin-bottom: 1rem;
}

.input-remember {
  display: flex;
  margin-bottom: 1rem;
}

.loginLabel {
  margin-left: 0.25rem;
  color: #12002b;
  font-weight: bold;
}

.error-message {
  color: red;
  font-size: 1rem;
  margin-top: 1rem;
}

.accountsPageContainer {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  height: 100vh;
  min-height: 100vh;
  background-color: #12002b;
}
.accountsPageContainer__topSection {
  flex: 1;
  margin-top: 5rem;
}
.accountsPageContainer__topSection--title {
  color: white;
}
.accountsPageContainer__topSection--button {
  background-color: #00bc77;
  color: #fff;
  padding: 0.5rem;
  font-size: 1.1rem;
  font-weight: bold;
  border-color: #00bc77;
  cursor: pointer;
  transition: color 0.2s ease-in-out;
}
.accountsPageContainer__topSection--button:hover {
  border: 0.2rem solid #12002b;
}

.main-nav-item {
  font-weight: bold;
  color: #2c3e50;
  text-decoration: none;
  margin-right: 5px;
}
.main-nav-item__signInIcon {
  width: 27px;
  font-size: 17px;
}
.main-nav-item:hover {
  text-decoration: underline;
}

.logOutButton {
  outline: none;
  background: none;
  border: none;
  padding: 0;
  margin: 0;
  cursor: pointer;
  font-weight: bold;
}

.userPageContainer {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  height: 100vh;
  min-height: 100vh;
  background-color: white;
}

.editUserForm {
  display: flex;
  flex-direction: column;
  max-width: 17%;
  margin: auto;
}
.editUserForm__Container {
  display: flex;
  flex-direction: row;
  gap: 0.5rem;
  margin-bottom: 1.5rem;
  justify-content: center;
}
.editUserForm__Container--label {
  font-size: 1.5rem;
}
.editUserForm__Container--input {
  width: 200px;
  height: 25px;
  padding: 5px;
  font-size: 1rem;
  border: 1px solid #ccc;
  border-radius: 5px;
}

.greyedOut {
  background-color: lightgray;
  color: grey;
}

.cancelButton {
  outline: none;
  background: none;
  border: none;
  padding: 0;
  margin: 0;
  cursor: pointer;
  font: inherit;
  display: block;
  width: 100%;
  padding: 8px;
  font-size: 1.1rem;
  font-weight: bold;
  margin-top: 1rem;
  border-color: #00bc77;
  background-color: #00bc77;
  color: #fff;
}

.errorPageContainer {
  display: flex;
  flex-direction: column;
  height: 100vh;
  min-height: 100vh;
}
.errorPageContainer__content {
  flex: 1;
  margin-top: 5rem;
}
.errorPageContainer__content--button {
  background-color: #00bc77;
  color: #fff;
  padding: 0.5rem;
  font-size: 1.1rem;
  font-weight: bold;
  border-color: #00bc77;
  width: 15%;
  margin: auto;
  cursor: pointer;
  transition: color 0.2s ease-in-out;
}
.errorPageContainer__content--button:hover {
  border: 0.2rem solid #fff;
}/*# sourceMappingURL=style.css.map */